  <h1>Movies</h1>
  <table>
    <thead>
      <th>&nbsp;</th>
      <th>Id</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Thumbnail</th>
    </thead>
    <tbody id="users">
      <tr>
        <td><a href="#" data-id="${movie.id}" class="table-bordered table-striped table-responsive"></td>
        <td>${movie.id}</td>
        <td>${movie.title}</td>
        <td>${movie.genre}</td>
        <td><img src="${movie.thumbnail}" alt="${movie.title}"></td>
        </tr>
    </tbody>
  </table>
