<!--
  **NOTE:** This is a template for users.html.
  It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment.
  htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles
  to this file. The generated bundles have hash-based filenames,
  so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/.
  For examples of using it with htmlWebpackPlugin,
  see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->
  <!DOCTYPE html>
<html lang="en">
<head>
    <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    Inject trackJS code here

   <% if (htmlWebpackPlugin.options.trackJSToken) { %>

<script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
<script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>

<% } %>
   -->
   <!-- BEGIN TRACKJS -->
   <!-- END TRACKJS -->
  <meta charset="UTF-8">
</head>
<!-- This file is where you build the Layout. This file is the main site wrapper
     for the modules you will load --->
<body>
  <header>
      <div>
          <a class="headerlogo" href="index.html">
              <img src="images/film.png" />
          </a>
          <span id="headername"></span>
          <input type="search" class="searchbox" placeholder="Search our store" />
      </div>
      <nav class="navbar-background">
          <ul>
              <!-- Build the Navigation Bar for your wep page here --->
            <li><a class="navlink" href="#">Home</a></li>

          </ul>
      </nav>
  </header>
  <div class='row'>
    <div><img src="images/robot-waving.gif" /></div>
    <module id='movieApp'>
  <!-- Inject or load Modules Here --->
    </module>
  </div>

  <footer>
    <!-- put your footer Here --->@CoderCamps 2017 : MIT
  </footer>
</body>
</html>
